<div class="container">

    <h2 class="display-2 p-3 text-center">Lista de Hospitales</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Site</th>
                <th scope="col">Responsable</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hospital of hospitales">
                <td>{{hospital.id}}</td>
                <td>{{hospital.site}}</td>
                <td>{{hospital.responsable}}</td>
                <td>{{hospital.telefono}}</td>
            </tr>
        </tbody>
    </table>

</div>